.breadcrumbs_style_default {
    .breadcrumbs__link, .breadcrumbs__separator {
        display:inline-block;
        margin-right:10px; 
        vertical-align:middle;
    }
    
    .breadcrumbs__link {
        //color:@color_alt;
        .tcolor(alt, 1);
    }
    
    .breadcrumbs__separator {
        font-size:13px;
        color:@color_light;
    }
    
    .header {
        margin-top:0.3em;
    }
}